.about-main {
  padding: 80px 0;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.about-img-box img {
  width: 100%;
  border-radius: 10px;
}

.about-text-box h2 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-text-box p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #4b5563;
}

.about-list li {
  margin-bottom: 8px;
  font-size: 16px;
  color: #001f40;
  font-weight: 500;
}

@media (max-width: 900px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}
