.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  background: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  z-index: 99999;
  transition: 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.08);
  background: #1ebe5d;
}

.whatsapp-float img {
  width: 32px;
  height: 32px;
}
